body {
    -webkit-background-size: cover;
    -moz-background-size:  cover;
    -o-background-size: cover;
    background-size: cover;
    background-position: top;
    background-repeat: no-repeat;
    background-color: rgb(120, 120, 120);
}