span {
  -webkit-user-select: none;  
  -moz-user-select: none;    
  -ms-user-select: none;      
  user-select: none;
}

.i_icon {
    max-width: 120px;
    background-position: center;
    background-repeat: no-repeat;
    -webkit-user-drag: none;
    user-select: none;
    -moz-user-select: none;
    -webkit-user-select: none;
    -ms-user-select: none;
}

span:not(.i_icon) {
    color: white;
    font-family: 'Open Sans', sans-serif;
}

span.i_description {
    font-size: 2rem;
}

span.i_temperature {
    font-size: 4rem;
    margin-bottom: 20px;
}

span.i_location, span.i_date, span.i_time {
    font-size: 1.2rem;
}

span.i_time {
    margin-bottom: 30px;
}

span.error {
    color: rgb(228, 228, 228);
    display: none;
}